{# src/OC/PlatformBundle/Ressources/views/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Ajout d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

	<h2>Créer une annonce</h2>
	
	{{ include("OCPlatformBundle:Advert:form.html.twig") }}
	
	<p>
		<a href="{{ path('oc_platform_home') }}">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à l'accueil
		</a>
	</p>

{% endblock %}