{# src/OC/PlatformBundle/Ressources/views/delete.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Suppression d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

	<h2>Annonce supprimée !</h2>
	
	<p>
		<a href="{{ path('oc_platform_home') }}">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à l'accueil
		</a>
	</p>

{% endblock %}