{# src/OC/PlatformBundle/Ressources/views/edit.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
	Modification d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

	<h2>Modifier une annonce</h2>
	
	{{ include("OCPlatformBundle:Advert:form.html.twig") }}
	
	<p>Vous éditez une annonce déjà existante !</p>
	
	<p>
		<a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à l'annonce
		</a>
	</p>

{% endblock %}